div {
    width: 1100px;
    margin: 0px auto;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 12px;
}

h1 {
    color: black;
}
/* #out {
    color: blue;
    border: 2px solid navy;
    border-radius: 10px;
} */

.out {
    width: 80px;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
    /* outline: 2px red; */
    border: 2px solid black;
    background-color: yellow;
    padding-top: 25px;
    box-sizing: border-box;

    color: blue;
    border: 2px solid navy;
    border-radius: 10px;

margin-top: 50px;
    
}

h2 { margin-top: 20px;
margin-bottom: 50px;
}

button {
    background: rgb(211, 90, 4);
    color: white;
}
#reset {
    background: rgb(28, 111, 236);
    color: white;
}